
<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="nav-logo">TaskManager</a>
        <ul class="nav-menu">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><b>Home</b></a></li>
            <li><a href="{% url 'profile' %}"><b>Profile</b></a></li>
            <li><a href="{% url 'signout' %}"><b>Log Out</b></a></li>
            {% else %}
            <li><a href="{% url 'signup' %}"><b>Register</b></a></li>
            <li><a href="{% url 'signin' %}"><b>Login</b></a></li>
            {% endif %}
        </ul>
        <div class="nav-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>